joblib
apache-beam[gcp]
numpy
pandas
scipy
# HDF5 SUPPORT
h5py
biopython
numba

# visualization
matplotlib
seaborn
plotly
yellowbrick
# cloud service
google-cloud-storage
pandas-gbq
cloudservice
# Preprocessing
category_encoders
imbalanced-learn
imgaug
albumentations
papermill
gym
pytorch-ignite


# MLLIB
gensim
textblob
wordcloud
keras
keras-tunner
python-Levenshtein
stop-words
mxnet
gluonnlp
gluoncv

scikit-learn
lightgbm
xgboost
lightfm
faiss-cpu
scikit-image
Boruta
catboost
scikit-surprise
sklearn-pandas
eli5
shap

# Outlier
pyod

# DeepLIB
tensorflow
torch
torchvision
pytorch-lightning

# Tuning
optuna
ray


# other
tqdm
pyyaml
pytz
jsonlines
python-Levenshtein
datatable


elasticsearch
kafka-python 
confluent-kafka 
